DATABASE_URL=sqlite:///./ercors_platform.db
SECRET_KEY=your-very-secret-key-change-me
GROQ_API_KEY_1=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
GROQ_API_KEY_2=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
GROQ_API_KEY_3=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
GROQ_MODEL=llama-3.3-70b-versatile
UPLOAD_DIR=uploads
MAX_FILE_SIZE=10485760
PORT=10000
